.rules-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.rules-page h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.rules-page ul li{
    font-size: 20px;
    margin: 10px 0;
}